<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1>Issues</h1>
<table>
    <tr>
        <th>Issue ID</th>
        <th>Book ID</th>
        <th>Reader ID</th>
        <th>Issued at</th>
        <th>Returned at</th>
    </tr>
    <tr th:each="issue:${issues}">
        <td th:text="${issue.getId}"></td>
        <td th:text="${issue.getBookId}"></td>
        <td th:text="${issue.getReaderId}"></td>
        <td th:text="${issue.getIssued_at}"></td>
        <td th:text="${issue.getReturned_at}"></td>
    </tr>
</table>
<form action="/logout">
    <button>Logout</button>
</form>
</body>
</html>